<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="/stylesheets/main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/javascripts/leave.js"></script>

<div id="signupForm" class="container">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h3> Sign UP</h3>
      </div>
      <div class="card-body">
        <form action="/signup" method="POST">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="first_name" class="form-control" type="text" name="first_name" placeholder="Enter First Name" required></input>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="last_name" class="form-control" type="text" name="last_name" placeholder="Enter Last Name" required></input>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-male"></i></span>
            </div>
            <select id="gender" class="form-control" name="gender" required>
                <option disabled selected value="">Select the Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input id="mob_no" class="form-control" type="text" name="mob_no" placeholder="Enter Mobile Number" required></input>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="user_name" class="form-control" type="text" name="user_name" placeholder="Enter User Name" required></input>
            
          </div>
          <div>
            <span id="userVerification"></span>
          </div>   
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input id="password" class="form-control" type="password" name="password" placeholder="Enter your Password" required></input>
          </div>
          <div class="form-group">
            <button class="btn btn-primary lgn_btn">Submit</button>
          </div>
        </form>    
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Do you have Account? <a href="/login"> Login</a>
        </div>
      </div>
    </div>    
  </div>     
</div>