
html {
   min-width: 100%;
    min-height: 100%;
}
body {
    background-color:burlywood;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
}

a {
    color: #00B7FF;
}
a:hover {
    text-decoration-line:none;
}
#loginform {
    width:40%;
    margin:20px auto;
}
#signupForm {
    width: 40%;
    margin: 20px auto;
}
.row {
    margin-top:15px;
}

#calendar {
    background-color:antiquewhite;
    float: left;
    width: 100%;
    height: 100%;
    margin: 5px;
}
.fc-toolbar.fc-header-toolbar {
    margin: 1em;
}
.container {
    margin-top: 15px;
}
ul {
    list-style-type: none;
}
ul.listItem {
    background-color: antiquewhite;
    margin-top:0px;
    padding-top:5px;
    padding-bottom:5px;
    overflow: auto;
}
ul li {
    margin: 5px;
}
#navbar {
    width:inherit;
    height:inherit;
}

.donate-now {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    display: block;
}

.donate-now li {
        float: left;
        margin: 0 5px 0 0;
        width: 100px;
        height: 40px;
        position: relative;
}

    .donate-now label,
    .donate-now input {
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .donate-now input[type="radio"] {
            opacity: 0.01;
            z-index: 100;
    }

.donate-now input[type="radio"]:checked + label,
.Checked + label {
                background: yellow;
     } 

    .donate-now label {
        padding: 5px;
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 90;
    }
.listTitle {
    background-color: antiquewhite;
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0px;
}
.userexit {
    font-size:15px;
    color:red;
}
.useravilable {
    font-size: 15px;
    color: green;
}
#statusList li {
    color: cornflowerblue;
    cursor:pointer;
}
#usersList li {
    color: cornflowerblue;
    cursor: pointer;
}

.dynamicTable table, .dynamicTable th, .dynamicTable td {
    border: 1px solid black;
    padding: 5px;
}
.dynamicTable th {
    background-color: #dddddd;
}
.badge {
    float: right;
}
#bulkUpdateStatus {
    display:none;
}
#homeSettingBtn {
    display:none;
}
#dashboard_searchOptions {
    display: none;
}
#main_searchCategory {
    display: inline;
}
#main_searchDate {
    display: inline;
}
#l_searchDate {
    display: inline;
}
.leavesHeader {
    padding: 5px;
}
.leavesCountLabel {
    font-weight: bold;
}
.leaveCounts {
    display: inline-block;
    margin: 15px;
    padding: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
  
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
#leavesDetailsTable {
    margin: 15px;
}
th {
    background-color: #dddddd;
}

#displayArea img {
    width: 10%;
}